<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mother's Milk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>USACO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ariprog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>barn1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>beads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>combo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>crypt1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>dualpal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>friday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gift1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>milk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>milk2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>namenum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>palsquare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ride.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>skidesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>transform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>wormhole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A53C1A11D7CDA17004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C1AF1D7CDB0A004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C1BA1D7CDB1F004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C1CA1D7CDDB0004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C1DB1D7D1C30004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C1E81D7D3748004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C1F51D7DFECC004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A53C2021D7E6E61004CE8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911931D7FA21A00AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911A11D8084B500AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911AD1D8090D000AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911B91D81178F00AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911C51D8266A800AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911D11D83259600AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911DD1D83842600AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911E91D838EC000AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB911F51D83CE0A00AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB912011D850FF000AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB9120D1D86609100AD3EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
